div.MAIN {
    width: 100%;
    font-style: italic;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Bar {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    height: 80px;
}

.Bar__Inner {
    width: 98%;
    display: flex;
    /* justify-content: center; */
    margin-left: 1%;
    margin-top: 0.5%;
}

.Bar__Inner ul {
    list-style-type: none;
    font-weight: 650;
    font-size: 14px;
    height: 100%;
    line-height: 50px;
}


/*Cho list thành hàng ngang*/

.Bar__Inner ul li {
    display: inline-table;
}

.Bar__Inner-List1-Icon li {
    /* display: inline-table; */
    width: 15%;
    height: 30px;
    line-height: 30px;
}

.Bar__Inner-List1-Left li {
    /* display: inline-table; */
    width: 16%;
    /* height: 100%; */
    /*z index cái hình nên không cần giãn li ra*/
    line-height: 30px;
    text-align: center;
}

.Bar__Inner-List1-Right li {
    /* display: inline-table; */
    width: 20%;
    /* height: 100%; */
    line-height: 30px;
    text-align: center;
}

.Bar__Inner li a {
    color: black;
    /* text-decoration: none; */
    display: block;
    /*Đổi về block để hover*/
}

li.Sub>a {
    text-decoration: none;
}

li.MenuActive__ListItems__Item>a {
    text-decoration: none;
    font-weight: 490;
}

div.MenuActive__Inner h3>a {
    text-decoration: none;
}

.Bar__Inner-Logo {
    width: 45%;
    z-index: 100;
    margin-top: -0.5%;
}

.Bar__Inner-Logo>a>img {
    width: 100%;
}

.Bar__Inner-List1-Left {
    width: 100%;
}

.Hover-li-In-Bar {
    background-color: black;
    transition: 0.3s;
    color: white;
    border-radius: 20px 20px;
    border-spacing: 4px
}


/*=======================PHẦN MENU ĐỔ XUỐNG=============================*/

ul.MenuActive__ListItems {
    font-size: larger;
    background-color: #044262;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 720px;
    padding: 0;
    /* top: 80px; */
    left: 0px;
    z-index: 99;
}

ul.MenuActive__ListItems li {
    width: 20%;
    margin-right: 99%;
    margin-left: 1%;
    /* margin-top: 2%; */
    text-align: left;
    font-weight: 550;
    padding-left: 0%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
    /* background-color: rgb(19, 199, 253); */
    z-index: 999;
}

li.Sub>a {
    transition: all 1s;
}

li.Sub>a:hover {
    background-color: black;
    transition: 0.3s;
    color: white;
    border-radius: 20px 20px;
    border-spacing: 4px
}

.MenuActive__Inner {
    position: absolute;
    width: 100%;
    padding-top: 5%;
}

ul.MenuActive__ListItems a {
    display: inline;
}

.MenuActive__Inner h3 {
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    padding-left: 4%;
}

.MenuActive__Inner a {
    /* background-color: aquamarine; */
    transition: all 0.35s;
}

.MenuActive__Inner strong {
    box-shadow: 0 2px black;
}

div.IMG__LOADED {
    /* background-color: aquamarine; */
    position: absolute;
    height: 100%;
    width: 80%;
    top: 30.4%;
    right: 0;
    /* border-style: solid;
    border-left: 2px; */
    text-align: center;
    padding-left: 28%;
}


/* div.Split {
    position: absolute;
    height: 100%;
    width: 56%;
    border-radius: 20px;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 3px;
} */

div.Split {
    /* background-color: red; */
    position: absolute;
    height: 100%;
    width: 56%;
    border-left-style: solid;
    border-width: 3px;
}

.IMG-Phone img {
    width: 70%;
}

.IMG-TV img {
    width: 70%;
}

.IMG-Laptop img {
    width: 73%;
}

.IMG-Discover img {
    width: 50%;
}

.IMG-Endow img {
    width: 50%;
}

.IMG-Support img {
    width: 50%;
}

.IMG-Enterprise img {
    width: 50%;
}

div.Link {
    padding-top: 3%;
}

div.Link h2 {
    background-color: white;
}

div.Link a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    background-color: black;
    padding: 1%;
    padding-bottom: 1%;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 2px black;
}

div.Link a:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
    box-shadow: 2px 2px 9px 0 black;
}

.Subcontent {
    display: none;
}

.Sub:hover .Subcontent {
    display: block;
}

.Show-Subcontent {
    display: block;
}

.Show-Background-Hover {
    /* background-color: black; */
    color: white;
    transition: 0.3s;
    border-radius: 20px 20px;
    border-spacing: 4px
}


/*=== PHẦN DI ĐỘNG ===*/

.Show-IMG {
    display: block;
    box-shadow: 0 2px black;
}

.Bottom-Shadow {
    box-shadow: 0 2px black;
}

.Opacity {
    opacity: 0.2;
}


/*=== PHẦN DI ĐỘNG:END ===*/


/*=== PHẦN ICON ===*/

div.Bar__Inner-List1-Icon {
    position: relative;
}

div.Menu-Icon {
    background-color: white;
    box-shadow: 3px 5px 13px #888888;
    width: 100%;
    height: 240px;
    position: absolute;
    z-index: 999;
    right: 40%;
    top: 55%;
    display: none;
}

div.Menu-Icon i {
    vertical-align: middle;
    padding-right: 5%;
}

div.Menu-Icon hr {
    padding: 0;
    margin: 0;
}

div.Menu-Icon a {
    display: block;
    list-style-type: none;
    text-decoration: none;
    transition-duration: 0.35s;
}

ul.USER {
    box-sizing: border-box;
    text-align: center;
    display: flex;
    padding: 0;
    margin: 0;
}

ul.USER li:first-child {
    width: 1%;
    /* background-color: #044262; */
}

ul.USER li:nth-child(3) {
    width: 1%;
    /* background-color: #11b0ff; */
}

ul.USER>li {
    width: 50%;
    padding: 1%;
}

li.Sub:hover .Menu-Icon {
    display: block;
}

div.USER1 {
    /* position: absolute; */
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

div.USER1 span {
    width: 100%;
    padding: 5%;
    /* background-color: blue; */
}

ul.USER a:hover {
    transform: scale(1.2);
    transition-duration: 0.35s;
}

div.USER1 a:hover {
    background-color: #d4d1d1;
    border-radius: 5px;
    transition-duration: 0.35s;
}


/* div.USER1 span:last-child {
    position: relative;
} */

div.USER1 span img {
    position: absolute;
    right: 10%;
    bottom: 6%;
    width: 13%;
}

div.Language-Icon h6 {
    position: absolute;
    right: 25%;
    bottom: 5%;
}


/*=== PHẦN ICON:END ===*/


/*=======================PHẦN MENU ĐỔ XUỐNG:END=============================*/

.Bar__Inner-List1-Right {
    width: 100%;
}

.Bar__Inner-List1-Icon {
    margin-top: 0.5%;
    width: 40%;
}


/*====================================================================*/


/*=============================================================================*/

div.Introduction_Content {
    position: relative;
    text-align: left;
    margin-top: 2%;
    margin-bottom: 2%;
    overflow: hidden;
}

div>div.Introduction_Text {
    text-align: center;
    color: white;
    position: absolute;
    left: 10%;
    top: 1%;
}

div.Introduction_Text a {
    transition-duration: 0.5s;
}

div.Introduction_Text>a:hover {
    box-shadow: 2px 2px 7px 0px rgb(202, 190, 190);
    color: black;
    border: 1px solid black;
    transform: scale(1.05);
    transition: 0.4s;
}

div.Introduction_Content img {
    width: 100%;
}

div.Introduction_Text>h3:first-child {
    font-size: 24px;
}

div.Introduction_Text>h3 {
    font-size: 40px;
    font-weight: bold;
}

div.Introduction_Text>a {
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    color: white;
    background-color: darkviolet;
    border-radius: 20px;
    padding: 4% 10%;
    margin-top: 5%;
}

div.Intro__Inner {
    margin-top: 2%;
}

div.carousel-item img {
    border-radius: 30px;
}

div.carousel-caption {
    width: 20%;
    position: absolute;
    z-index: 10;
    color: #fff;
    text-align: center;
    left: 10% !important;
    top: 30%;
}

div.carousel-caption h3 {
    font-size: 45px;
}


/*==============================================*/

div.Category_Content {
    background-image: url("Background-Images/Sonybg.png");
    width: 100%;
    height: 1900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 20px;
}

.Category_Item {
    width: 30%;
    padding: 20px 20px;
    margin: 20px 20px;
    position: relative;
    padding: 10px 0px;
    text-align: center;
    font-size: 15px;
}

div.Sony>h2 {
    text-align: center;
    padding: 3% 0 2% 0;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 3px 5px rgb(182, 180, 211)
}

div>div.label {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
}

div.Category_Item>img {
    width: 80%;
    align-content: center;
    padding: 20px 0px;
}

div>div.discout {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-weight: 500;
    line-height: 16px;
    font-size: 14px;
    width: 60px;
    height: 35px;
    text-align: center;
    background: black;
    padding-top: 3%;
}

.discout:after {
    display: block;
    width: 0;
    height: 0;
    content: '';
    top: 35px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 20px solid black;
    right: 0;
    position: absolute;
}

div.item {
    width: 100%;
    padding: 10px;
    position: relative;
}

@keyframes Price {
    0% {
        color: red;
        transform: scale(1.01);
        transition-duration: 0.5s;
    }
    25% {
        color: tomato;
        transform: scale(1.02);
        transition-duration: 0.5s;
    }
    50% {
        color: red;
        transform: scale(1.03);
        transition-duration: 0.5s;
    }
    75% {
        color: tomato;
        transform: scale(1.02);
        transition-duration: 0.5s;
    }
    100% {
        color: red;
        transform: scale(1.01);
        transition-duration: 0.5s;
    }
}

div.price>p {
    text-align: right !important;
    font-weight: bold;
    font-size: 20px;
    animation: Price 1s infinite;
}

div.detail {
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    color: darkblue;
    font-size: 20px;
    padding: 10% 0;
    background-color: white;
    width: 0;
    overflow: hidden;
    margin: auto;
    transition: bottom .9s;
}

div.detail>p {
    padding: 0;
    margin: 0;
}

div.item:hover div.detail {
    padding: 3.5%;
    width: 55%;
    height: 15%;
    bottom: 100%;
    border: 1px solid black;
    border-radius: 10px;
}

.line {
    padding: 5px 0px;
    text-align: left;
}

div.rate {
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
    text-align: center;
}

div.rate>p {
    padding: 1%;
}

div.Category_Item>div.rate {
    margin: auto;
}

div.rate>img {
    width: 8% !important;
}

div.rate>span {
    padding: 5%;
}

.Name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.Name:hover {
    color: blue;
}

.Shop {
    background: #fff;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    text-align: center !important;
    font-size: 13px;
    line-height: 28px;
    padding: 10px;
    white-space: normal;
    transition-duration: 0.5s;
}

.Shop:hover {
    background-color: black;
    color: white;
    transition-duration: 0.5s;
    border: 2px solid black;
}

div.line>a {
    text-decoration: none;
}


/*=================================================================*/

div.Flex-Wrapper {
    background-color: white;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-color: red; */
}

div.Flex-Wrapper__Inner {
    display: flex;
    margin-top: 3%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

div.Flex-Wrapper a {
    background-color: black;
    display: inline-block;
    padding: 1.5% 3%;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    font-weight: 450;
    text-decoration: none;
    transition: 0.5s;
}

div.Flex-Wrapper a:hover {
    background-color: white;
    box-shadow: 2px 2px 7px 0px #666;
    color: black;
    /* transform: scale(1.05); */
    transition: 0.4s;
}

div.Buy-Strip {
    /* background-color: blue; */
    width: 27%;
    height: 100%;
    /* border: 2px solid;
    border-color: black; */
    /* margin-top: 8%; */
    padding-top: 1.5%;
    padding-left: 1%;
    padding-right: 1%;
    /* border-radius: 20px; */
}

div.Buy-Strip img {
    width: 25%;
}

div.Buy-Strip>div {
    font-size: 20px;
}


/*==============================================*/

footer {
    background-color: #044262;
    width: 100%;
    height: 650px;
    background-image: url("Background-Images/index/CSS-Background-Image-Footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div.Footer__Inner {
    width: 100%;
}

footer ul {
    list-style-type: none;
}

div.Footer-Top {
    display: flex;
    align-items: baseline;
}

div.Footer-Top-Left {
    display: flex;
    align-items: center;
    margin-left: 3%;
    /* background-color: aqua; */
}

div.NameCP a {
    color: white;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 3px 5px 5px rgb(161, 49, 49);
}

div.Footer-Top-Right {
    display: flex;
    align-items: baseline;
    /* background-color: yellow; */
    margin-left: 15%;
}

div.Hotline {
    margin-left: 10%;
}

div.Hotline h3 {
    color: white;
    padding: 0;
    margin: 0;
    text-shadow: 3px 5px 5px rgb(161, 49, 49);
}

div.Hotline>a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2%;
    margin-top: 0.5%;
    border-radius: 20px;
    transition: 0.5s;
}

div.Hotline>a:hover {
    transform: scale(1.05);
    transition-duration: 0.2s;
}

div.Social {
    margin-left: 25%;
    width: 20%;
}

div.Social>ul {
    width: 100%;
    display: flex;
    padding: 0;
    justify-content: space-around;
    /* background-color: chartreuse; */
}

div.Social>ul>li {
    width: 20%;
    /* background-color: blue; */
}

div.Social>ul>li>a>img {
    width: 100%;
    transition: 0.5s;
}

div.Social>ul>li>a>img:hover {
    transform: scale(1.15);
    transition-duration: 0.2s;
}

ul.List-Content-Link {
    color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    width: 100%;
}

ul.List-Content-Link>li {
    margin-left: 2.5%;
}

ul.List-Content-Link>li:first-child {
    margin-left: 1%;
}

ul.List-Content-Link>li:nth-child(2) {
    margin-top: 5.3%;
    margin-left: -3%;
}

ul.List-Content-Link>li>ul {
    padding: 0;
}

ul.List-Content-Link>li>h6 {
    color: rgb(221, 214, 214);
    text-shadow: 3px 5px 5px rgb(161, 49, 49);
    font-size: 22px;
    font-weight: bold;
}

ul.List-Content-Link>li>ul>li>a {
    text-decoration: none;
    /* color: rgb(206, 187, 187); */
    color: white;
    font-size: 16px;
}

div.Footer-Content {
    display: flex;
    box-sizing: border-box;
}

div.Content-Left {
    /* background-color: red; */
    width: 45%;
}

div.Content-Right {
    /* background-color: blue; */
    margin-left: 5.1%;
}

div.Content-Right h3 {
    color: rgb(221, 214, 214);
    text-shadow: 3px 5px 5px rgb(161, 49, 49);
    font-size: 28px;
    font-weight: bold;
}

ul.Blog-Content {
    padding: 0;
}

ul.Blog-Content>li>ul {
    padding: 0;
}

ul.Blog-Content h6 {
    color: rgb(212, 201, 201);
    text-shadow: 3px 5px 5px rgb(161, 49, 49);
    font-size: 20px;
    margin-top: 5%;
    font-weight: bold;
}

ul.Blog-Content>li>ul>a {
    color: white;
    font-weight: bold;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2%;
    margin-top: 0.5%;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.5s;
}

ul.Blog-Content>li>ul>a:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}

ul.Blog-Content>li>ul>li {
    /* color: rgb(206, 187, 187); */
    color: white;
    font-size: 16px;
    padding: 0.5%;
}

li.Primary-Link__List-Item a:hover {
    color: aqua;
}

div.List-Shop__Content {
    width: 20%;
}

div.List-Shop__Content h3 {
    color: rgb(221, 214, 214);
    text-shadow: 3px 5px 5px rgb(161, 49, 49);
    font-size: 25px;
    font-weight: bold;
}

ul.Retailers-List {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin-top: 7%;
    /* background-color: green; */
}

ul.Retailers-List li {
    margin-top: 6%;
    margin: 5%;
}

ul.Retailers-List li img {
    width: 55%;
    box-shadow: 0 1px 9px #131111;
    border-radius: 3px;
    transition: 0.5s;
}

ul.Retailers-List li a img:hover {
    transform: scale(1.1);
    transition-duration: 0.1s;
}

div.Get-Infor {
    /* background-color: blueviolet; */
    /* margin-top: 6%; */
    margin-left: 4%;
    padding: 5%;
    width: 100%;
    height: 50%;
    text-align: center;
}

div.Get-Infor h3 {
    color: rgb(221, 214, 214);
    text-shadow: 3px 5px 5px rgb(161, 49, 49);
    font-size: 25px;
    font-weight: bold;
}

div.Get-Infor input[type="text"] {
    font-size: 18px;
    width: 90%;
    margin-top: 5%;
    padding: 2%;
    border-radius: 20px;
    background-color: rgba(83, 79, 79, 0.7);
    color: white;
}

div.Res-Gmail a {
    background-color: rgba(73, 72, 72, 0.7);
    display: inline-block;
    padding: 2% 10%;
    margin-top: 3%;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
}

div.Res-Gmail a:hover {
    color: black;
    background-color: white;
    transition: 0.5s;
}

div.CopyRight {
    color: rgb(151, 148, 148);
    margin-left: 1%;
    margin-bottom: 1.5%;
}


/*========================================================*/

div#top {
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(151, 146, 146, 0.5);
    cursor: pointer;
    padding: 0.75%;
    border-radius: 100%;
    font-size: 1px;
}

div#top i {
    color: black;
}

#top:hover {
    background-color: rgb(105, 105, 105);
}


/*===================================RESPONSIVE==============================================*/

@media only screen and (max-width:600px) {
    /*====================HEADBAR=================*/
    div.Bar__Inner-Logo {
        width: 100%
    }
    div.Bar__Inner-List1-Left {
        display: none;
    }
    div.Bar__Inner-List1-Right {
        display: none;
    }
    div.Bar__Inner-List1-Icon {
        width: 100%;
        margin-left: 15%;
    }
    div.Bar__Inner-List1-Icon div.Menu-Icon {
        width: 200px;
        height: auto;
        right: 25%;
    }
    div.carousel-item img {
        /* transform: scale(2); */
        width: 200% !important;
        margin-left: -78%;
    }
    div.Introduction_Content>img {
        transform: scale(1.8);
        height: 110px !important;
    }
    div.Intro {
        margin-top: 15% !important;
    }
    /*===================INTRO-CONTENT====================*/
    div.Introduction_Content {
        position: relative;
        text-align: left;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    div>div.Introduction_Text {
        text-align: center;
        color: white;
        position: absolute;
        left: 10%;
        top: 0.5%;
    }
    div.Introduction_Content h1 {
        font-size: 17px;
        margin-bottom: 0%;
    }
    div.Introduction_Content h4 {
        display: none;
    }
    div.Introduction_Content h5 {
        display: none;
    }
    div.Introduction_Text a {
        transition-duration: 0.5s;
    }
    div.Introduction_Text>a:hover {
        box-shadow: 2px 2px 7px 0px rgb(202, 190, 190);
        color: black;
        border: 1px solid black;
        transform: scale(1.05);
        transition: 0.4s;
    }
    div.Introduction_Content img {
        width: 100%;
    }
    div.Introduction_Content>img {
        height: 100px;
        width: 600px;
        padding: 1%;
        margin-left: -45%;
    }
    div.Introduction_Text>a {
        display: inline-block;
        font-size: 10px;
        text-decoration: none;
        color: white;
        background-color: darkviolet;
        border-radius: 10px;
        padding: 5% 8%;
        margin-top: 3%;
    }
    div.Intro__Inner {
        margin-top: 2%;
    }
    div.carousel-item img {
        border-radius: 18px;
    }
    div.carousel-item>div.carousel-caption h3 {
        display: none;
    }
    /*===================CATEGORY=========================*/
    div.Category_Content {
        height: 5200px;
    }
    .Category_Item {
        width: 99%;
    }
    div.rate {
        display: inline-block;
    }
    div.Bar__Inner-Logo {
        width: 100%
    }
    div.Bar__Inner-List1-Left {
        display: none;
    }
    div.Bar__Inner-List1-Right {
        display: none;
    }
    div.Bar__Inner-List1-Icon {
        width: 100%;
        margin-left: 15%;
    }
    div.Bar__Inner-List1-Icon div.Menu-Icon {
        width: 200px;
        height: auto;
        right: 25%;
    }
    /*==================BUYTRIP==========================*/
    div.Flex-Wrapper {
        height: auto;
    }
    div.Buy-Strip {
        width: 70%;
        margin-bottom: 5%;
    }
    div.Buy-Strip h2 {
        font-size: 20px;
    }
    div.Buy-Strip p {
        font-size: 15px;
    }
    div.Buy-Strip>div>a {
        font-size: 15px;
    }
    /*==================FOOTER==========================*/
    footer {
        width: 100%;
        height: auto;
        background-size: 100% 100%;
    }
    div.Footer-Top {
        width: 100%;
        flex-wrap: wrap;
    }
    div.Footer-Top-Left img {
        width: 200px;
    }
    div.Footer-Top-Left {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
    div.Hotline {
        width: 100%;
        /* margin-left: -17%; */
        margin: 0;
        text-align: center;
    }
    div.Hotline h3 {
        font-size: 25px;
        margin-bottom: 5%;
    }
    div.Social {
        width: 70%;
        /* margin-left: -15%; */
        margin: 0;
        margin-top: 5%;
    }
    div.Footer-Top-Right {
        margin: 0;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    div.Footer-Content {
        justify-content: center;
    }
    div.Footer-Content div.Content-Left {
        display: none;
    }
    div.Content-Right {
        text-align: center;
        margin: 0;
    }
    div.Content-Right h3 {
        font-size: 18px;
    }
    div.List-Shop__Content {
        display: none;
    }
    ul.Blog-Content h6 {
        font-size: 16px;
    }
    ul.Blog-Content li>ul>li {
        font-size: 10px;
    }
}


/*==============================================*/