div.MAIN {
    width: 100%;
    font-style: italic;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Bar {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    height: 80px;
}

.Bar__Inner {
    width: 98%;
    display: flex;
    /* justify-content: center; */
    margin-left: 1%;
    margin-top: 0.5%;
}

.Bar__Inner ul {
    list-style-type: none;
    font-weight: 650;
    font-size: 14px;
    height: 100%;
    line-height: 50px;
}


/*Cho list thành hàng ngang*/

.Bar__Inner ul li {
    display: inline-table;
}

.Bar__Inner-List1-Icon li {
    /* display: inline-table; */
    width: 15%;
    height: 30px;
    line-height: 30px;
}

.Bar__Inner-List1-Left li {
    /* display: inline-table; */
    width: 16%;
    /* height: 100%; */
    /*z index cái hình nên không cần giãn li ra*/
    line-height: 30px;
    text-align: center;
}

.Bar__Inner-List1-Right li {
    /* display: inline-table; */
    width: 20%;
    /* height: 100%; */
    line-height: 30px;
    text-align: center;
}

.Bar__Inner li a {
    color: black;
    /* text-decoration: none; */
    display: block;
    /*Đổi về block để hover*/
}

li.Sub>a {
    text-decoration: none;
}

li.MenuActive__ListItems__Item>a {
    text-decoration: none;
    font-weight: 490;
}

div.MenuActive__Inner h3>a {
    text-decoration: none;
}

.Bar__Inner-Logo {
    width: 45%;
    z-index: 100;
    margin-top: -0.5%;
}

.Bar__Inner-Logo>a>img {
    width: 100%;
}

.Bar__Inner-List1-Left {
    width: 100%;
}

.Hover-li-In-Bar {
    background-color: black;
    transition: 0.3s;
    color: white;
    border-radius: 20px 20px;
    border-spacing: 4px
}


/*=======================PHẦN MENU ĐỔ XUỐNG=============================*/

ul.MenuActive__ListItems {
    font-size: larger;
    background-color: #044262;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 720px;
    padding: 0;
    /* top: 80px; */
    left: 0px;
    z-index: 99;
}

ul.MenuActive__ListItems li {
    width: 20%;
    margin-right: 99%;
    margin-left: 1%;
    /* margin-top: 2%; */
    text-align: left;
    font-weight: 550;
    padding-left: 0%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
    /* background-color: rgb(19, 199, 253); */
    z-index: 999;
}

li.Sub>a {
    transition: all 1s;
}

li.Sub>a:hover {
    background-color: black;
    transition: 0.3s;
    color: white;
    border-radius: 20px 20px;
    border-spacing: 4px
}

.MenuActive__Inner {
    position: absolute;
    width: 100%;
    padding-top: 5%;
}

ul.MenuActive__ListItems a {
    display: inline;
}

.MenuActive__Inner h3 {
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    padding-left: 4%;
}

.MenuActive__Inner a {
    /* background-color: aquamarine; */
    transition: all 0.35s;
}

.MenuActive__Inner strong {
    box-shadow: 0 2px black;
}

div.IMG__LOADED {
    /* background-color: aquamarine; */
    position: absolute;
    height: 100%;
    width: 80%;
    top: 30.4%;
    right: 0;
    /* border-style: solid;
    border-left: 2px; */
    text-align: center;
    padding-left: 28%;
}


/* div.Split {
    position: absolute;
    height: 100%;
    width: 56%;
    border-radius: 20px;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 3px;
} */

div.Split {
    /* background-color: red; */
    position: absolute;
    height: 100%;
    width: 56%;
    border-left-style: solid;
    border-width: 3px;
}

.IMG-Phone img {
    width: 70%;
}

.IMG-TV img {
    width: 70%;
}

.IMG-Laptop img {
    width: 73%;
}

.IMG-Discover img {
    width: 50%;
}

.IMG-Endow img {
    width: 50%;
}

.IMG-Support img {
    width: 50%;
}

.IMG-Enterprise img {
    width: 50%;
}

div.Link {
    padding-top: 3%;
}

div.Link h2 {
    background-color: white;
}

div.Link a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    background-color: black;
    padding: 1%;
    padding-bottom: 1%;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 2px black;
}

div.Link a:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
    box-shadow: 2px 2px 9px 0 black;
}

.Subcontent {
    display: none;
}

.Sub:hover .Subcontent {
    display: block;
}

.Show-Subcontent {
    display: block;
}

.Show-Background-Hover {
    /* background-color: black; */
    color: white;
    transition: 0.3s;
    border-radius: 20px 20px;
    border-spacing: 4px
}


/*=== PHẦN DI ĐỘNG ===*/

.Show-IMG {
    display: block;
    box-shadow: 0 2px black;
}

.Bottom-Shadow {
    box-shadow: 0 2px black;
}

.Opacity {
    opacity: 0.2;
}


/*=== PHẦN DI ĐỘNG:END ===*/


/*=== PHẦN ICON ===*/

div.Bar__Inner-List1-Icon {
    position: relative;
}

div.Menu-Icon {
    background-color: white;
    box-shadow: 3px 5px 13px #888888;
    width: 100%;
    height: 240px;
    position: absolute;
    z-index: 999;
    right: 40%;
    top: 55%;
    display: none;
}

div.Menu-Icon i {
    vertical-align: middle;
    padding-right: 5%;
}

div.Menu-Icon hr {
    padding: 0;
    margin: 0;
}

div.Menu-Icon a {
    display: block;
    list-style-type: none;
    text-decoration: none;
    transition-duration: 0.35s;
}

ul.USER {
    box-sizing: border-box;
    text-align: center;
    display: flex;
    padding: 0;
    margin: 0;
}

ul.USER li:first-child {
    width: 1%;
    /* background-color: #044262; */
}

ul.USER li:nth-child(3) {
    width: 1%;
    /* background-color: #11b0ff; */
}

ul.USER>li {
    width: 50%;
    padding: 1%;
}

li.Sub:hover .Menu-Icon {
    display: block;
}

div.USER1 {
    /* position: absolute; */
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

div.USER1 span {
    width: 100%;
    padding: 5%;
    /* background-color: blue; */
}

ul.USER a:hover {
    transform: scale(1.2);
    transition-duration: 0.35s;
}

div.USER1 a:hover {
    background-color: #d4d1d1;
    border-radius: 5px;
    transition-duration: 0.35s;
}


/* div.USER1 span:last-child {
    position: relative;
} */

div.USER1 span img {
    position: absolute;
    right: 10%;
    bottom: 6%;
    width: 13%;
}

div.Language-Icon h6 {
    position: absolute;
    right: 25%;
    bottom: 5%;
}


/*=== PHẦN ICON:END ===*/


/*=======================PHẦN MENU ĐỔ XUỐNG:END=============================*/

.Bar__Inner-List1-Right {
    width: 100%;
}

.Bar__Inner-List1-Icon {
    margin-top: 0.5%;
    width: 40%;
}


/*====================================================================*/

.carousel-fade {
    width: 100%;
    padding: 10px;
}

div.carousel-inner img {
    height: 650px;
    border-radius: 20px;
}

div.carousel-item {
    position: relative;
    text-align: left;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.Show-Content-Text {
    text-align: left;
    color: black;
    position: absolute;
    left: 10%;
    top: 35%;
}

div.Show-Content-Text>h5 {
    margin-bottom: 10%;
}

div.Show-Content-Text>a {
    padding: 10px;
    border: 1px solid blue;
}

div.Show-Content2 {
    display: flex;
    background-image: url("Background-Images/Xiaomibg.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 770px;
}

div.Sub-Content>p {
    color: white;
    text-align: center;
    margin-top: 3%;
}

div.Sub-Content {
    margin: auto;
    width: 25%;
    height: 350px;
}

div.Sub-Content h3 {
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: -10%;
    padding-bottom: 1%;
}

div.Sub-Content h2 {
    text-align: center;
    margin-top: 1%;
    animation: HOT 2s infinite;
}

@keyframes HOT {
    from {
        color: rgb(255, 251, 0);
    }
    to {
        color: rgb(0, 204, 255);
    }
}

div.Sub-Content>img {
    position: relative;
    width: 79%;
    animation: aniName 5s infinite;
}

@keyframes aniName {
    0% {
        left: 0%;
        top: 0%
    }
    25% {
        left: 15%;
        top: 0%;
    }
    50% {
        left: 15%;
        top: 10%;
    }
    75% {
        left: 0%;
        top: 10%;
    }
    100% {
        left: 0%;
        top: 0%;
    }
}


/*======================================================================*/

div.Table {
    width: 100%;
    height: 1500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
}

.Category_Item {
    width: 22%;
    padding: 20px 20px;
    margin: 20px 20px;
    position: relative;
    padding: 10px 0px;
    text-align: center;
    font-size: 15px;
}

div.Compare-Items>h2 {
    text-align: center;
    padding: 3% 0 2% 0;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 3px 5px rgb(182, 180, 211)
}

div>div.label {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: red;
    color: white;
    padding: 10px;
}

div.Category_Item img {
    width: 100%;
    align-content: center;
    padding: 10% 10%;
}

div.discout {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-weight: 500;
    line-height: 16px;
    font-size: 14px;
    width: 60px;
    height: 35px;
    text-align: center;
    background: red;
    padding-top: 3%;
}

.discout:after {
    display: block;
    width: 0;
    height: 0;
    content: '';
    top: 35px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 20px solid red;
    right: 0;
    position: absolute;
}

div.item {
    width: 100%;
    padding: 10px;
    position: relative;
}

div.detail {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    color: black;
    font-size: 20px;
    padding: 10% 0%;
    margin: auto;
    background-color: white;
    width: 0;
    overflow: hidden;
    transition: right 0.4s;
}

div.detail1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    color: white;
    padding: 10% 0;
    font-size: 20px;
    background-color: black;
    width: 0;
    margin: auto;
    overflow: hidden;
    transition: left 0.4s;
}

div.item:hover div.detail {
    padding: 20px 10px;
    width: 60%;
    height: 20%;
    top: 50px;
    right: 0;
    border: 1px solid black;
    border-radius: 10px;
}

div.item:hover div.detail1 {
    padding: 20px 10px;
    width: 60%;
    height: 20%;
    top: 200px;
    left: 0;
    border: 1px solid white;
    border-radius: 10px;
}

.line {
    padding: 15px 0px;
}

.Name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.Name:hover {
    color: red;
}

.Color {
    text-align: center;
    color: black;
}

.Compare {
    background: black;
    border-radius: 8px;
    border: 2px solid #0054;
    color: white;
    text-align: center;
    font-size: 13.5px;
    line-height: 28px;
    padding: 15px 50px;
    white-space: normal;
    transition-duration: 0.5s;
}

.Compare:hover {
    background-color: white;
    color: black;
    border: solid 2px black;
    transition-duration: 0.5s;
}

div.line>a {
    text-decoration: none;
}


/*=====================================================================*/


/*==============================================*/

div.Flex-Wrapper {
    background-color: white;
    height: 550px;
    background-image: url(Background-Images/index/CSS-Background-Image-BuyStrip.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-color: red; */
}

div.Flex-Wrapper__Inner {
    display: flex;
    margin-top: 3%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

div.Flex-Wrapper a {
    background-color: black;
    display: inline-block;
    padding: 1.5% 3%;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    font-weight: 450;
    text-decoration: none;
    transition: 0.5s;
}

div.Flex-Wrapper a:hover {
    background-color: white;
    box-shadow: 2px 2px 7px 0px #666;
    color: black;
    /* transform: scale(1.05); */
    transition: 0.4s;
}

div.Buy-Strip {
    /* background-color: blue; */
    width: 27%;
    height: 100%;
    /* border: 2px solid;
    border-color: black; */
    /* margin-top: 8%; */
    padding-top: 1.5%;
    padding-left: 1%;
    padding-right: 1%;
    /* border-radius: 20px; */
}

div.Buy-Strip img {
    width: 25%;
}

div.Buy-Strip>div {
    font-size: 20px;
}


/*==============================================*/

footer {
    background-color: #044262;
    width: 100%;
    height: 650px;
    background-image: url("https://lh3.googleusercontent.com/pw/AM-JKLVXgSxa8ODfg0lIc3WVn6irwXOUqz_GVWl7TeFq3FMrlIheo5K_GEHfvma2QKmOFyAUDX0NqO4PFA75O_mTelwz8UqFkpJcuuR0eLwjPLrWwLCs9p9zj4iPqvgQxax6MsVfRxgNdr75ruQ-KbgskpeC=w1470-h407-no?authuser=3");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div.Footer__Inner {
    width: 100%;
}

footer ul {
    list-style-type: none;
}

div.Footer-Top {
    display: flex;
    align-items: baseline;
}

div.Footer-Top-Left {
    display: flex;
    align-items: center;
    margin-left: 3%;
    /* background-color: aqua; */
}

div.NameCP a {
    color: white;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 3px 5px 5px rgb(161, 49, 49);
}

div.Footer-Top-Right {
    display: flex;
    align-items: baseline;
    /* background-color: yellow; */
    margin-left: 15%;
}

div.Hotline {
    margin-left: 10%;
}

div.Hotline h3 {
    color: white;
    padding: 0;
    margin: 0;
    text-shadow: 3px 5px 5px rgb(161, 49, 49);
}

div.Hotline>a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2%;
    margin-top: 0.5%;
    border-radius: 20px;
    transition: 0.5s;
}

div.Hotline>a:hover {
    transform: scale(1.05);
    transition-duration: 0.2s;
}

div.Social {
    margin-left: 25%;
    width: 20%;
}

div.Social>ul {
    width: 100%;
    display: flex;
    padding: 0;
    justify-content: space-around;
    /* background-color: chartreuse; */
}

div.Social>ul>li {
    width: 20%;
    /* background-color: blue; */
}

div.Social>ul>li>a>img {
    width: 100%;
    transition: 0.5s;
}

div.Social>ul>li>a>img:hover {
    transform: scale(1.15);
    transition-duration: 0.2s;
}

ul.List-Content-Link {
    color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    width: 100%;
}

ul.List-Content-Link>li {
    margin-left: 2.5%;
}

ul.List-Content-Link>li:first-child {
    margin-left: 1%;
}

ul.List-Content-Link>li:nth-child(2) {
    margin-top: 5.3%;
    margin-left: -3%;
}

ul.List-Content-Link>li>ul {
    padding: 0;
}

ul.List-Content-Link>li>h6 {
    color: rgb(221, 214, 214);
    text-shadow: 3px 5px 5px rgb(161, 49, 49);
    font-size: 22px;
    font-weight: bold;
}

ul.List-Content-Link>li>ul>li>a {
    text-decoration: none;
    /* color: rgb(206, 187, 187); */
    color: white;
    font-size: 16px;
}

div.Footer-Content {
    display: flex;
    box-sizing: border-box;
}

div.Content-Left {
    /* background-color: red; */
    width: 45%;
}

div.Content-Right {
    /* background-color: blue; */
    margin-left: 5.1%;
}

div.Content-Right h3 {
    color: rgb(221, 214, 214);
    text-shadow: 3px 5px 5px rgb(161, 49, 49);
    font-size: 28px;
    font-weight: bold;
}

ul.Blog-Content {
    padding: 0;
}

ul.Blog-Content>li>ul {
    padding: 0;
}

ul.Blog-Content h6 {
    color: rgb(212, 201, 201);
    text-shadow: 3px 5px 5px rgb(161, 49, 49);
    font-size: 20px;
    margin-top: 5%;
    font-weight: bold;
}

ul.Blog-Content>li>ul>a {
    color: white;
    font-weight: bold;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2%;
    margin-top: 0.5%;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.5s;
}

ul.Blog-Content>li>ul>a:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}

ul.Blog-Content>li>ul>li {
    /* color: rgb(206, 187, 187); */
    color: white;
    font-size: 16px;
    padding: 0.5%;
}

li.Primary-Link__List-Item a:hover {
    color: aqua;
}

div.List-Shop__Content {
    width: 20%;
}

div.List-Shop__Content h3 {
    color: rgb(221, 214, 214);
    text-shadow: 3px 5px 5px rgb(161, 49, 49);
    font-size: 25px;
    font-weight: bold;
}

ul.Retailers-List {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin-top: 7%;
    /* background-color: green; */
}

ul.Retailers-List li {
    margin-top: 6%;
    margin: 5%;
}

ul.Retailers-List li img {
    width: 55%;
    box-shadow: 0 1px 9px #131111;
    border-radius: 3px;
    transition: 0.5s;
}

ul.Retailers-List li a img:hover {
    transform: scale(1.1);
    transition-duration: 0.1s;
}

div.Get-Infor {
    /* background-color: blueviolet; */
    /* margin-top: 6%; */
    margin-left: 4%;
    padding: 5%;
    width: 100%;
    height: 50%;
    text-align: center;
}

div.Get-Infor h3 {
    color: rgb(221, 214, 214);
    text-shadow: 3px 5px 5px rgb(161, 49, 49);
    font-size: 25px;
    font-weight: bold;
}

div.Get-Infor input[type="text"] {
    font-size: 18px;
    width: 90%;
    margin-top: 5%;
    padding: 2%;
    border-radius: 20px;
    background-color: rgba(83, 79, 79, 0.7);
    color: white;
}

div.Res-Gmail a {
    background-color: rgba(73, 72, 72, 0.7);
    display: inline-block;
    padding: 2% 10%;
    margin-top: 3%;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
}

div.Res-Gmail a:hover {
    color: black;
    background-color: white;
    transition: 0.5s;
}

div.CopyRight {
    color: rgb(151, 148, 148);
    margin-left: 1%;
    margin-bottom: 1.5%;
}


/*========================================================*/

div#top {
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(151, 146, 146, 0.5);
    cursor: pointer;
    padding: 0.75%;
    border-radius: 100%;
    font-size: 1px;
}

div#top i {
    color: black;
}

#top:hover {
    background-color: rgb(105, 105, 105);
}


/*===================================RESPONSIVE==============================================*/

@media only screen and (max-width:600px) {
    div.Bar__Inner-Logo {
        width: 100%
    }
    div.Bar__Inner-List1-Left {
        display: none;
    }
    div.Bar__Inner-List1-Right {
        display: none;
    }
    div.Bar__Inner-List1-Icon {
        width: 100%;
        margin-left: 15%;
    }
    div.Bar__Inner-List1-Icon div.Menu-Icon {
        width: 200px;
        height: auto;
        right: 25%;
    }
    /*==================CAROUSEL========================*/
    div.carousel-item img {
        height: 180px;
    }
    div.Show-Content-Text h2 {
        font-size: 18px;
    }
    div.Show-Content-Text h3 {
        font-size: 13px;
        margin-bottom: 1%;
    }
    div.Show-Content-Text h5 {
        display: none;
    }
    div.Show-Content-Text a {
        padding: 0%;
    }
    /*==================CONTENT2========================*/
    div.Show-Content2 {
        height: 600px !important;
    }
    div.Sub-Content {
        margin-top: 20%;
    }
    div.Sub-Content h2 div.Show-Content2 {
        height: 400px;
    }
    div.Sub-Content {
        width: 50%;
        /* background-color: #044262; */
    }
    div.Show-Content2 div>h3 {
        font-size: 33px;
    }
    div.Show-Content2 div.Sub-Content img {
        transform: scale(1);
    }
    div.Show-Content2 div.Sub-Content:first-child {
        display: none;
    }
    div.Show-Content2 div.Sub-Content:last-child {
        display: none;
    }
    div.Compare-Items>h2 {
        padding: 10% 3%;
        font-size: 28px !important;
    }
    div.Redmi {
        display: none;
    }
    div.Sub-Content h3 {
        margin-top: 10%;
        font-size: 20px;
    }
    div.Sub-Content>img {
        width: 170%;
        margin-left: -30%;
    }
    div.Sub-Content p {
        display: none;
    }
    div.Sub-Content h2 {
        text-align: center;
        margin-top: 10%;
        font-size: 30px;
    }
    @keyframes aniName {
        0% {
            top: 0%
        }
        50% {
            top: 10%;
        }
        100% {
            top: 0%;
        }
    }
    /*==================CATEGORY=========================*/
    div.Compare-Items>h2 {
        font-size: 33px;
        background-image: linear-gradient(#1e150d, lightblue);
        margin: 0%;
        color: whitesmoke;
        text-shadow: 2px 4px black;
    }
    div.Category_Item {
        width: 99%;
    }
    div.Table {
        background-color: lightblue;
        height: 5500px;
    }
    div.line {
        padding: 2.5%;
    }
    div.Category_Item {
        margin: 0%;
    }
    div.Category_Item img {
        padding: 3%;
        margin: 0%;
    }
    /*==================BUYTRIP==========================*/
    div.Flex-Wrapper {
        height: auto;
    }
    div.Buy-Strip {
        width: 70%;
        margin-bottom: 5%;
    }
    div.Buy-Strip h2 {
        font-size: 20px;
    }
    div.Buy-Strip p {
        font-size: 15px;
    }
    div.Buy-Strip>div>a {
        font-size: 15px;
    }
    /*==================FOOTER==========================*/
    footer {
        width: 100%;
        height: auto;
        background-size: 100% 100%;
    }
    div.Footer-Top {
        width: 100%;
        flex-wrap: wrap;
    }
    div.Footer-Top-Left img {
        width: 200px;
    }
    div.Footer-Top-Left {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
    div.Hotline {
        width: 100%;
        /* margin-left: -17%; */
        margin: 0;
        text-align: center;
    }
    div.Hotline h3 {
        font-size: 25px;
        margin-bottom: 5%;
    }
    div.Social {
        width: 70%;
        /* margin-left: -15%; */
        margin: 0;
        margin-top: 5%;
    }
    div.Footer-Top-Right {
        margin: 0;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    div.Footer-Content {
        justify-content: center;
    }
    div.Footer-Content div.Content-Left {
        display: none;
    }
    div.Content-Right {
        text-align: center;
        margin: 0;
    }
    div.Content-Right h3 {
        font-size: 18px;
    }
    div.List-Shop__Content {
        display: none;
    }
    ul.Blog-Content h6 {
        font-size: 16px;
    }
    ul.Blog-Content li>ul>li {
        font-size: 10px;
    }
}